In [33]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.preprocessing import LabelEncoder, StandardScaler
Label = LabelEncoder()
Ss = StandardScaler()
from sklearn.metrics import precision_score, recall_score, f1_score, accuracy_score
from sklearn.model_selection import train_test_split


import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('Telecom Churn Data SingTel.csv')
df.head()

,State,Account Length,Area Code,Phone Number,International Plan,Voice mail Plan,Num of Voice mail Messages,Total Day Minutes,Total Day Calls,Total day Charge,...,Total Eve Calls,Total Eve Charge,Total Night Minutes,Total Night Calls,Total Night Charge,Total International Minutes,Total Intl Calls,Total Intl Charge,Number Customer Service calls,Churn
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.

In [3]:
df.info

<bound method DataFrame.info of      State  Account Length  Area Code Phone Number International Plan  \
0       KS             128        415     382-4657                 no
1       OH             107        415     371-7191                 no
2       NJ             137        415     358-1921                 no
3       OH              84        408     375-9999                yes
4       OK              75        415     330-6626                yes
...    ...             ...        ...          ...                ...
4995    HI              50        408     365-8751                 no
4996    WV             152        415     334-9736                 no
4997    DC              61        415     333-6861                 no
4998    DC             109        510     394-2206                 no
4999    VT              86        415     373-8058                 no

     Voice mail Plan  Num of Voice mail Messages  Total Day Minutes  \
0                yes                          25              265.1
1                yes                          26              161.6
2                 no                           0              243.4
3                 no                           0              299.4
4                 no                           0              166.7
...              ...                         ...                ...
4995             yes                          40              235.7
4996              no                           0              184.2
4997              no                           0              140.6
4998              no                           0              188.8
4999             yes                          34              129.4

      Total Day Calls  Total day Charge  ...  Total Eve Calls  \
0                 110             45.07  ...               99
1                 123             27.47  ...              103
2                 114             41.38  ...              110
3                  71             50.90  ...               88
4                 113             28.34  ...              122
...               ...               ...  ...              ...
4995              127             40.07  ...              126
4996               90             31.31  ...               73
4997               89             23.90  ...              128
4998               67             32.10  ...               92
4999              102             22.00  ...              104

      Total Eve Charge  Total Night Minutes  Total Night Calls   \
0                16.78                244.7                  91
1                16.62                254.4                 103
2                10.30                162.6                 104
3                 5.26                196.9                  89
4                12.61                186.9                 121
...                ...                  ...                 ...
4995             18.96                297.5                 116
4996             21.83                213.6                 113
4997             14.69                212.4                  97
4998             14.59                224.4                  89
4999             22.70                154.8                 100

      Total Night Charge  Total International Minutes  Total Intl  Calls  \
0                  11.01                         10.0                  3
1                  11.45                         13.7                  3
2                   7.32                         12.2                  5
3                   8.86                          6.6                  7
4                   8.41                         10.1                  3
...                  ...                          ...                ...
4995               13.39                          9.9                  5
4996                9.61                         14.7                  2
4997                9.56                         13.6                  4
4998               10.10                          8.5                  6
4999                6.97                          9.3                 16

      Total Intl Charge  Number Customer Service calls     Churn
0                  2.70                               1   False.
1                  3.70                               1   False.
2                  3.29                               0   False.
3                  1.78                               2   False.
4                  2.73                               3   False.
...                 ...                             ...      ...
4995               2.67                               2   False.
4996               3.97                               3    True.
4997               3.67                               1   False.
4998               2.30                               0   False.
4999               2.51                               0   False.

[5000 rows x 21 columns]>

In [5]:
df.describe(include =  'all')

,State,Account Length,Area Code,Phone Number,International Plan,Voice mail Plan,Num of Voice mail Messages,Total Day Minutes,Total Day Calls,Total day Charge,...,Total Eve Calls,Total Eve Charge,Total Night Minutes,Total Night Calls,Total Night Charge,Total International Minutes,Total Intl Calls,Total Intl Charge,Number Customer Service calls,Churn
count,5000,5000.00000,5000.000000,5000,5000,5000,5000.000000,5000.000000,5000.000000,5000.000000,...,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000
unique,51,NaN,NaN,5000,2,2,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
top,WV,NaN,NaN,361-4732,no,no,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False.
freq,158,NaN,NaN,1,4527,3677,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4293
mean,NaN,100.25860,436.911400,NaN,NaN,NaN,7.755200,180.288900,100.029400,30.649668,...,100.191000,17.054322,200.391620,99.919200,9.017732,10.261780,4.435200,2.771196,1.570400,NaN
std,NaN,39.69456,42.209182,NaN,NaN,NaN,13.546393,53.894699,19.831197,9.162069,...,19.826496,4.296843,50.527789,19.958686,2.273763,2.761396,2.456788,0.745514,1.306363,NaN
min,NaN,1.00000,408.000000,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN
25%,NaN,73.00000,408.000000,NaN,NaN,NaN,0.000000,143.700000,87.000000,24.430000,...,87.000000,14.140000,166.900000,87.000000,7.510000,8.500000,3.000000,2.300000,1.000000,NaN
50%,NaN,100.00000,415.000000,NaN,NaN,NaN,0.000000,180.100000,100.000000,30.620000,...,100.000000,17.090000,200.400000,100.000000,9.020000,10.300000,4.000000,2.780000,1.000000,NaN
75%,NaN,127.00000,415.000000,NaN,NaN,NaN,17.000000,216.200000,113.000000,36.750000,...,114.000000,19.900000,234.700000,113.000000,10.560000,12.000000,6.000000,3.240000,2.000000,NaN
max,NaN,243.00000,510.000000,NaN,NaN,NaN,52.000000,351.500000,165.000000,59.760000,...,170.000000,30.910000,395.000000,175.000000,17.770000,20.000000,20.000000,5.400000,9.000000,NaN

In [6]:
df.shape

(5000, 21)

In [7]:
df.isna().sum()

State                             0
Account Length                    0
Area Code                         0
Phone Number                      0
International Plan                0
Voice mail Plan                   0
Num of Voice mail Messages        0
Total Day Minutes                 0
Total Day Calls                   0
Total day Charge                  0
Total Eve Minutes                 0
Total Eve Calls                   0
Total Eve Charge                  0
Total Night Minutes               0
Total Night Calls                 0
Total Night Charge                0
Total International Minutes       0
Total Intl  Calls                 0
Total Intl Charge                 0
Number Customer Service calls     0
Churn                             0
dtype: int64

In [8]:
df.isnull().sum()

State                             0
Account Length                    0
Area Code                         0
Phone Number                      0
International Plan                0
Voice mail Plan                   0
Num of Voice mail Messages        0
Total Day Minutes                 0
Total Day Calls                   0
Total day Charge                  0
Total Eve Minutes                 0
Total Eve Calls                   0
Total Eve Charge                  0
Total Night Minutes               0
Total Night Calls                 0
Total Night Charge                0
Total International Minutes       0
Total Intl  Calls                 0
Total Intl Charge                 0
Number Customer Service calls     0
Churn                             0
dtype: int64

In [9]:
nd = df.select_dtypes(np.number)
cd = df.select_dtypes(object)

In [10]:
cd.head()

  State Phone Number International Plan Voice mail Plan    Churn
0    KS     382-4657                 no             yes   False.
1    OH     371-7191                 no             yes   False.
2    NJ     358-1921                 no              no   False.
3    OH     375-9999                yes              no   False.
4    OK     330-6626                yes              no   False.

In [11]:
cd.nunique()

State                   51
Phone Number          5000
International Plan       2
Voice mail Plan          2
Churn                    2
dtype: int64

In [12]:
cd.drop(['Phone Number'], axis = 1)

     State International Plan Voice mail Plan    Churn
0       KS                 no             yes   False.
1       OH                 no             yes   False.
2       NJ                 no              no   False.
3       OH                yes              no   False.
4       OK                yes              no   False.
...    ...                ...             ...      ...
4995    HI                 no             yes   False.
4996    WV                 no              no    True.
4997    DC                 no              no   False.
4998    DC                 no              no   False.
4999    VT                 no             yes   False.

[5000 rows x 4 columns]

In [14]:
cd['State'].value_counts().sort_values(ascending = False).head(10)

WV    158
MN    125
AL    124
ID    119
VA    118
OH    116
TX    116
WY    115
NY    114
OR    114
Name: State, dtype: int64

In [15]:
cd1 = cd.apply(Label.fit_transform)

In [16]:
cd1.head()

   State  Phone Number  International Plan  Voice mail Plan  Churn
0     16          2845                   0                1      0
1     35          2301                   0                1      0
2     31          1616                   0                0      0
3     35          2510                   1                0      0
4     36           155                   1                0      0

In [17]:
nd.head()

,Account Length,Area Code,Num of Voice mail Messages,Total Day Minutes,Total Day Calls,Total day Charge,Total Eve Minutes,Total Eve Calls,Total Eve Charge,Total Night Minutes,Total Night Calls,Total Night Charge,Total International Minutes,Total Intl Calls,Total Intl Charge,Number Customer Service calls
0,128,415,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1
1,107,415,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1
2,137,415,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0
3,84,408,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2
4,75,415,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3

In [19]:
nd1 = nd.round()
nd1.head()

,Account Length,Area Code,Num of Voice mail Messages,Total Day Minutes,Total Day Calls,Total day Charge,Total Eve Minutes,Total Eve Calls,Total Eve Charge,Total Night Minutes,Total Night Calls,Total Night Charge,Total International Minutes,Total Intl Calls,Total Intl Charge,Number Customer Service calls
0,128,415,25,265.0,110,45.0,197.0,99,17.0,245.0,91,11.0,10.0,3,3.0,1
1,107,415,26,162.0,123,27.0,196.0,103,17.0,254.0,103,11.0,14.0,3,4.0,1
2,137,415,0,243.0,114,41.0,121.0,110,10.0,163.0,104,7.0,12.0,5,3.0,0
3,84,408,0,299.0,71,51.0,62.0,88,5.0,197.0,89,9.0,7.0,7,2.0,2
4,75,415,0,167.0,113,28.0,148.0,122,13.0,187.0,121,8.0,10.0,3,3.0,3

In [20]:
nd2 = pd.DataFrame(Ss.fit_transform(nd1), columns = nd1.columns)
nd2.head()

,Account Length,Area Code,Num of Voice mail Messages,Total Day Minutes,Total Day Calls,Total day Charge,Total Eve Minutes,Total Eve Calls,Total Eve Charge,Total Night Minutes,Total Night Calls,Total Night Charge,Total International Minutes,Total Intl Calls,Total Intl Charge,Number Customer Service calls
0,0.698941,-0.519166,1.273145,1.572203,0.502824,1.564308,-0.071960,-0.060077,-0.011701,0.882884,-0.446928,0.861941,-0.096189,-0.584236,0.280062,-0.436676
1,0.169849,-0.519166,1.346973,-0.339297,1.158422,-0.397918,-0.091745,0.141693,-0.011701,1.061000,0.154374,0.861941,1.347006,-0.584236,1.533699,-0.436676
2,0.925695,-0.519166,-0.572549,1.163922,0.704546,1.128258,-1.575654,0.494791,-1.636857,-0.739955,0.204483,-0.880762,0.625408,0.229917,0.280062,-1.202236
3,-0.409634,-0.685024,-0.572549,2.203184,-1.463971,2.218383,-2.742996,-0.614946,-2.797682,-0.067071,-0.547145,-0.009411,-1.178585,1.044069,-0.973574,0.328885
4,-0.636388,-0.519166,-0.572549,-0.246506,0.654116,-0.288905,-1.041447,1.100103,-0.940361,-0.264978,1.056327,-0.445086,-0.096189,-0.584236,0.280062,1.094445

In [21]:
nd3 = nd2.round()

In [23]:
nd4 = nd3.astype(int)

In [24]:
data = pd.concat([nd4,cd1], axis = 1)
data.head()

,Account Length,Area Code,Num of Voice mail Messages,Total Day Minutes,Total Day Calls,Total day Charge,Total Eve Minutes,Total Eve Calls,Total Eve Charge,Total Night Minutes,...,Total Night Charge,Total International Minutes,Total Intl Calls,Total Intl Charge,Number Customer Service calls,State,Phone Number,International Plan,Voice mail Plan,Churn
0,1,-1,1,2,1,2,0,0,0,1,...,1,0,-1,0,0,16,2845,0,1,0
1,0,-1,1,0,1,0,0,0,0,1,...,1,1,-1,2,0,35,2301,0,1,0
2,1,-1,-1,1,1,1,-2,0,-2,-1,...,-1,1,0,0,-1,31,1616,0,0,0
3,0,-1,-1,2,-1,2,-3,-1,-3,0,...,0,-1,1,-1,0,35,2510,1,0,0
4,-1,-1,-1,0,1,0,-1,1,-1,0,...,0,0,-1,0,1,36,155,1,0,0

In [25]:
data1 = data.drop(['Phone Number'], axis = 1)

In [27]:
X = data1.drop(['Churn'], axis = 1) 
y = data1[['Churn']]

In [28]:
X_train,X_test,y_train,y_test = train_test_split(X, y, test_size = 0.3, random_state = 0)

In [30]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(3500, 19)
(1500, 19)
(3500, 1)
(1500, 1)

In [31]:
from sklearn.linear_model import LogisticRegression
Lr =  LogisticRegression()
Lr.fit(X_train, y_train)
y_pred = Lr.predict(X_test)
print("Logistic Regression train score:",Lr.score(X_train,y_train))
print("Logistic Regression test score:",Lr.score(X_test,y_test))

Logistic Regression train score: 0.8611428571428571
Logistic Regression test score: 0.8666666666666667

In [34]:
print("precision_score is: ", precision_score(y_test,y_pred, average = 'weighted'))
print("recall_score is :", recall_score(y_test,y_pred, average = 'weighted'))
print("accuracy_score is:     ", accuracy_score(y_test,y_pred))
ac1 = accuracy_score(y_test,y_pred)

precision_score is:  0.8349670848969587
recall_score is : 0.8666666666666667
accuracy_score is:      0.8666666666666667

In [35]:
from sklearn.neighbors import KNeighborsClassifier

KNN = KNeighborsClassifier()
KNN.fit(X_train,y_train)
y_pred2 = KNN.predict(X_test)
print("KNN train score:",KNN.score(X_train,y_train))
print("KNN test score:",KNN.score(X_test,y_test))

KNN train score: 0.89
KNN test score: 0.8706666666666667

In [36]:
print("precision_score is: ", precision_score(y_test,y_pred2, average = 'weighted'))
print("recall_score is :", recall_score(y_test,y_pred2, average = 'weighted'))
print("f1_score is:     ", f1_score(y_test,y_pred2,average='weighted'))
print("accuracy_score is:     ", accuracy_score(y_test,y_pred2))
ac2 = accuracy_score(y_test,y_pred2)

precision_score is:  0.8408950008399934
recall_score is : 0.8706666666666667
f1_score is:      0.8303202898550726
accuracy_score is:      0.8706666666666667

In [37]:
from sklearn.svm import SVC

SVC = SVC()
SVC.fit(X_train,y_train)
y_pred3 = SVC.predict(X_test)
print("SVC train score:",SVC.score(X_train,y_train))
print("SVC test score:",SVC.score(X_test,y_test))

SVC train score: 0.8557142857142858
SVC test score: 0.8653333333333333

In [38]:
print("precision_score is: ", precision_score(y_test,y_pred3, average = 'weighted'))
print("recall_score is :", recall_score(y_test,y_pred3, average = 'weighted'))
print("f1_score is:     ", f1_score(y_test,y_pred3,average='weighted'))
print("accuracy_score is:     ", accuracy_score(y_test,y_pred3))
ac3 =  accuracy_score(y_test,y_pred3)

precision_score is:  0.7488017777777777
recall_score is : 0.8653333333333333
f1_score is:      0.8028610912556587
accuracy_score is:      0.8653333333333333

In [39]:
from sklearn.naive_bayes import GaussianNB

NB = GaussianNB()
NB.fit(X_train,y_train)
y_pred4 = NB.predict(X_test)
print("NB train score:",NB.score(X_train,y_train))
print("NB test score:",NB.score(X_test,y_test))

NB train score: 0.8708571428571429
NB test score: 0.862

In [40]:
print("precision_score is: ", precision_score(y_test,y_pred4, average = 'weighted'))
print("recall_score is :", recall_score(y_test,y_pred4, average = 'weighted'))
print("f1_score is:     ", f1_score(y_test,y_pred4,average='weighted'))
print("accuracy_score is:     ", accuracy_score(y_test,y_pred4))
ac4 = accuracy_score(y_test,y_pred4)

precision_score is:  0.8687306318082788
recall_score is : 0.862
f1_score is:      0.8650998378950568
accuracy_score is:      0.862

In [41]:
from sklearn.tree import DecisionTreeClassifier

DTC = DecisionTreeClassifier(criterion='gini', splitter='best', 
      max_depth=5000, min_samples_split=2, min_samples_leaf=1, 
      min_weight_fraction_leaf=0.0, max_features=None, 
      random_state=None, max_leaf_nodes=None, 
      min_impurity_decrease=0, min_impurity_split=None, 
      class_weight=None, ccp_alpha=0)

DTC.fit(X_train,y_train)
y_pred5 = DTC.predict(X_test)
print("DTC train score:",DTC.score(X_train,y_train))
print("DTC test score:",DTC.score(X_test,y_test))

DTC train score: 1.0
DTC test score: 0.8853333333333333

In [42]:
print("precision_score is: ", precision_score(y_test,y_pred5, average = 'weighted'))
print("recall_score is :", recall_score(y_test,y_pred5, average = 'weighted'))
print("f1_score is:     ", f1_score(y_test,y_pred5,average='weighted'))
print("accuracy_score is:     ", accuracy_score(y_test,y_pred5))
ac5 = accuracy_score(y_test,y_pred5)

precision_score is:  0.8950695767195767
recall_score is : 0.8853333333333333
f1_score is:      0.8894107363761046
accuracy_score is:      0.8853333333333333

In [43]:
from sklearn.ensemble import RandomForestClassifier

RFC = RandomForestClassifier(n_estimators=500, criterion='gini', max_depth=None, 
                             min_samples_split=2, min_samples_leaf=1, min_weight_fraction_leaf=0.0, 
                             max_features='log2', max_leaf_nodes=None, min_impurity_decrease=0.0, 
                             min_impurity_split=None, bootstrap=True, oob_score=False, n_jobs=-1, 
                             random_state=None, verbose=0, warm_start=False, class_weight=None, 
                             ccp_alpha=0.0, max_samples=None)

RFC.fit(X_train,y_train)
y_pred6 = RFC.predict(X_test)
print("RFC train score:",RFC.score(X_train,y_train))
print("RFC test score:",RFC.score(X_test,y_test))

RFC train score: 1.0
RFC test score: 0.9346666666666666

In [44]:
print("precision_score is: ", precision_score(y_test,y_pred6, average = 'weighted'))
print("recall_score is :", recall_score(y_test,y_pred6, average = 'weighted'))
print("f1_score is:     ", f1_score(y_test,y_pred6,average='weighted'))
print("accuracy_score is:     ", accuracy_score(y_test,y_pred6))
ac6 =  accuracy_score(y_test,y_pred6)

precision_score is:  0.9312059210071246
recall_score is : 0.9346666666666666
f1_score is:      0.9312185185185186
accuracy_score is:      0.9346666666666666

In [45]:
from sklearn.ensemble import BaggingClassifier

BC = BaggingClassifier(base_estimator = DTC)
BC.fit(X_train,y_train)
y_pred7 = BC.predict(X_test)
print("BC train score:",BC.score(X_train,y_train))
print("BC test score:",BC.score(X_test,y_test))

BC train score: 0.9905714285714285
BC test score: 0.9246666666666666

In [46]:
print("precision_score is: ", precision_score(y_test,y_pred7, average = 'macro'))
print("recall_score is :", recall_score(y_test,y_pred7, average = 'macro'))
print("f1_score is:     ", f1_score(y_test,y_pred7,average='macro'))
print("accuracy_score is:     ", accuracy_score(y_test,y_pred7))
ac7 = accuracy_score(y_test,y_pred7)

precision_score is:  0.853028922946946
recall_score is : 0.8059886497124289
f1_score is:      0.8270180462530272
accuracy_score is:      0.9246666666666666

In [47]:
from sklearn.ensemble import AdaBoostClassifier

ADB = AdaBoostClassifier()
ADB.fit(X_train, y_train)
y_pred8 = ADB.predict(X_test)
print("ADB train score:",ADB.score(X_train,y_train))
print("ADB test score:",ADB.score(X_test,y_test))

ADB train score: 0.8842857142857142
ADB test score: 0.8833333333333333

In [48]:
print("precision_score is: ", precision_score(y_test,y_pred8, average = 'weighted'))
print("recall_score is :", recall_score(y_test,y_pred8, average = 'weighted'))
print("f1_score is:     ", f1_score(y_test,y_pred8,average='weighted'))
print("accuracy_score is:     ", accuracy_score(y_test,y_pred8))
ac8 = accuracy_score(y_test,y_pred8)

precision_score is:  0.8656187062638675
recall_score is : 0.8833333333333333
f1_score is:      0.8670034065073199
accuracy_score is:      0.8833333333333333

In [49]:
from sklearn.linear_model import Perceptron
PR = Perceptron()
PR.fit(X_train,y_train)
y_pred9 = PR.predict(X_test)
print("PR train score:",PR.score(X_train,y_train))
print("PR test score:",PR.score(X_test,y_test))

PR train score: 0.8462857142857143
PR test score: 0.8433333333333334

In [50]:
print("accuracy_score is:     ", accuracy_score(y_test,y_pred9))
ac9 = accuracy_score(y_test,y_pred9)

accuracy_score is:      0.8433333333333334

In [51]:
from sklearn.ensemble import GradientBoostingClassifier

GBC = GradientBoostingClassifier()
GBC.fit(X_train, y_train)
y_pred10 = GBC.predict(X_test)
print("GBC train score:",GBC.score(X_train,y_train))
print("GBC test score:",GBC.score(X_test,y_test))

GBC train score: 0.9391428571428572
GBC test score: 0.9326666666666666

In [52]:
print("precision_score is: ", precision_score(y_test,y_pred10, average = 'weighted'))
print("recall_score is :", recall_score(y_test,y_pred10, average = 'weighted'))
print("f1_score is:     ", f1_score(y_test,y_pred10 ,average='weighted'))
print("accuracy_score is:     ", accuracy_score(y_test,y_pred10))
ac10 = accuracy_score(y_test,y_pred10)

precision_score is:  0.929116647580269
recall_score is : 0.9326666666666666
f1_score is:      0.9278597393775666
accuracy_score is:      0.9326666666666666

In [53]:
from sklearn.linear_model import SGDClassifier

SGD = SGDClassifier()
SGD.fit(X_train,y_train)
y_pred11 = SGD.predict(X_test)
print("SGD train score:",SGD.score(X_train,y_train))
print("SGD test score:",SGD.score(X_test,y_test))

SGD train score: 0.8608571428571429
SGD test score: 0.866

In [54]:
print("precision_score is: ", precision_score(y_test,y_pred11, average = 'weighted'))
print("recall_score is :", recall_score(y_test,y_pred11, average = 'weighted'))
print("f1_score is:     ", f1_score(y_test,y_pred11 ,average='weighted'))
print("accuracy_score is:     ", accuracy_score(y_test,y_pred11))
ac11 = accuracy_score(y_test,y_pred11)

precision_score is:  0.8399342387419586
recall_score is : 0.866
f1_score is:      0.8461757508342602
accuracy_score is:      0.866

In [55]:
from sklearn.ensemble import VotingClassifier
VotingClassifierModel = VotingClassifier(estimators=[('Logistic model',Lr),('KNN',KNN),('Support Vector Machines',SVC),
                                                     ('Naive Bayes classifier',NB),('Decision Tree',DTC),('Random Forrest',RFC),
                                                     ('BaggingClassifier',BC),('AdaBoostClassifier',ADB),('Perceptron',PR),
                                                    ('Gradient Boosting Classifier',GBC), ('Stochastic Gradient Descent',SGD)],
voting='hard')
VotingClassifierModel.fit(X_test, y_test)
print('VotingClassifierModel Train Score is : ' , VotingClassifierModel.score(X_train, y_train))
print('VotingClassifierModel Test Score is : ' , VotingClassifierModel.score(X_test, y_test))

VotingClassifierModel Train Score is :  0.89
VotingClassifierModel Test Score is :  0.9246666666666666

In [56]:
y_pred12 = VotingClassifierModel.predict(X_test)
print('Predicted Value for VotingClassifierModel is : ' , y_pred12)

Predicted Value for VotingClassifierModel is :  [0 0 0 ... 0 0 0]

In [57]:
print("precision_score is: ", precision_score(y_test,y_pred12, average = 'weighted'))
print("recall_score is :", recall_score(y_test,y_pred12, average = 'weighted'))
print("f1_score is:     ", f1_score(y_test,y_pred12 ,average='weighted'))
print("accuracy_score is:     ", accuracy_score(y_test,y_pred12))
ac12 = accuracy_score(y_test,y_pred12)

precision_score is:  0.9306997401370187
recall_score is : 0.9246666666666666
f1_score is:      0.911611274116189
accuracy_score is:      0.9246666666666666

In [58]:
Models = pd.DataFrame({
    'Model' : ['Logistic Regression','KNN or k-Nearest Neighbors','Support Vector Machines',
              'Naive Bayes classifier', 'Decision Tree', 'Random Forrest', 'BaggingClassifier',
              'AdaBoostClassifier','Perceptron','Gradient Boosting Classifier',
              'Stochastic Gradient Descent','VotingClassifier'],
    'Score' : [ac1,ac2,ac3,ac4,ac5,ac6,ac7,ac8,ac9,ac10,ac11,ac12]
})

Models.sort_values(by = 'Score', ascending = False)

                           Model     Score
5                 Random Forrest  0.934667
9   Gradient Boosting Classifier  0.932667
6              BaggingClassifier  0.924667
11              VotingClassifier  0.924667
4                  Decision Tree  0.885333
7             AdaBoostClassifier  0.883333
1     KNN or k-Nearest Neighbors  0.870667
0            Logistic Regression  0.866667
10   Stochastic Gradient Descent  0.866000
2        Support Vector Machines  0.865333
3         Naive Bayes classifier  0.862000
8                     Perceptron  0.843333